%h3
  = "<span class=\"light\">Total:</span> #{@history[:total_hours]}h / <span class=\"light\">Diff:</span> #{@history[:total_diff_hours]}h"
%table.table.table-bordered
  %tbody
    - date = nil
    - @history[:days].each do |date, data|
      %tr.date
        %td{:colspan => 2,:class=>"date"}
          =date
          %small.light
            = "( #{data[:worked_hours]}h )"
      - data[:runs].each do |run|
        %tr
          %td
            %span.start
              =run[:start]
            \-
            %span.stop
              =run[:stop]
          %td
            =run[:comment]
      - date = data[:date]
